<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 允许跨应用绑定 AIAgentService -->
    <queries>
        <package android:name="com.hirain.aiagent" />
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:label="AI测试"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIAgentTestApp">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="设置" />
    </application>

</manifest>
